extends ./layouts/_default.pug
block variables
	- var title = 'Verticurl Frontend Test | Thiago Higuchi'
	- var description = 'Test project using Pug, SASS, and JS'
	- var author = 'Thiago Higuchi'
	- var prefix = FILE_PREFIX
	- var extraCSS = [FILE_PREFIX+'css/pages/home.min.css']
	- var imgPrefixUrl = IMG_PREFIX_URL

block content
	main
		section#hero
			.container
				.hero
					.hero__logo
						img(src=imgPrefixUrl+'images/hero/logo.svg' alt="Logo")
					.hero__highlight 
						span 7
						h1 Lorem ipsum dolor sit amet mauris dictum magna tortor sir arcu
					.hero__text
						h5 Lorem ipsum dolor sit amet mauris dictum magna
					.hero__cta
						button button
					.hero__box

		section#steps
			.container


//- block scripts
//- 	script(src=FILE_PREFIX+'js/speakersCarousel.js')
