extends ./layouts/_default.pug
block variables
	- var title = 'Verticurl Frontend Test | Thiago Higuchi'
	- var extraCSS = [FILE_PREFIX+'css/pages/speakers.min.css']

block content
	main.container
		p aissssssszz